.cards-sec {
  padding: 1%;
  .search-sort {
    @include dFlex(space-between);
    margin-top: 20px;
    input {
      max-width: 700px;
      border: 1px solid #dcebdd;
      &:focus {
        box-shadow: 0 0 12px 5px #cb9696;
      }
    }
    button {
      background-color: transparent;
      border: 1px solid #dcebdd;
      padding: 10px;
      border-radius: 10px;
      color: #8bbd8e;
    }
  }
  .cards-row {
    --bs-gutter-x: 0;
    // column-gap: 20px;
    box-sizing: border-box;
    margin: 50px 0;
    .furnish-card-div{
      padding: 10px;
      .furnish-card {
        margin-bottom: 30px;
        padding: 35px;
        position: relative;
          overflow: hidden;
        &:hover {
          .actions {
            transition: 1s;
            transform: translateY(-30%);
            transition-timing-function: ease-out;
          }
        }
        .actions {
          position: absolute;
          left: 0;
          width: 100%;
          @include dFlex();
          gap: 20px;
          transition: 1s;
          transform: translateY(140%);
          transition-timing-function: ease-in;
          a,
          i {
            padding: 10px;
            color: $color-white;
            background-color: #d1b54a;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .img-div {
          display: inline-block;
          padding: 13px;
          border-radius: 100%;
        }
        .img-div-1 {
          background-color: #cb9696;
        }
        .img-div-2 {
          background-color: #8bbd8e;
        }
        .img-div-3 {
          background-color: #d1b54a;
        }
        .img-div-4 {
          background-color: #d29a61;
        }
        h5 {
          margin: 15px 0;
        }
        p {
          color: gray;
          font-size: 17px;
        }
      }
      .furnish-card-1 {
        background-color: #f5ebeb;
      }
      .furnish-card-2 {
        background-color: #dcebdd;
      }
      .furnish-card-3 {
        background-color: #f5efd8;
      }
      .furnish-card-4 {
        background-color: #f4e6d8;
      }
    }
    
  }
  .load-more {
    text-align: center;
    button {
      background-color: #cb9696;
      color: $color-white;
      padding: 10px;
      border-radius: 10px;
      border: none;
    }
  }
}
